<ion-view view-title="Sổ tay">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="label in labels" on-hold="edit(label)">
        <span >{{label.channel.channel}}</span>
        <span class="labelNumber ion-ios-book-outline" ng-click="edit(label)"> {{label.label}} </span>
        <span class="programe-like item-cancel" ng-click="deleteLabel(label)" ></span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
