<ion-view view-title="Lịch phát sóng">
  <ion-content>
    <div class="date-option">
        <h4 class="date-des">Select date to view more programe schedule</h4>
        <span class ="date-pick" ng-click="openDatePicker()">{{date}}</span>
    </div>
    <div class="load-content">

    </div>
    <h4 ng-if="err != '' " class="sms-text">{{err}}</h4>
    <h4 ng-if="sms != '' " class="sms-text">{{sms}}</h4>
    <div class="programes" >
        <div class=" list pro-list">
            <div  ng-repeat="programe in programes" class="item pro">
                <span class="time ">
                    {{programe.time}}
                </span>
                <span class="name">{{programe.name}}</span>
                <span class="part">{{programe.part}}</span>
                <span class ="programe-like" ng-class="{true:'active' , false:'none' }[programe.isfav==true]" ng-click="likepress(programe)" id="like-btn-{{programe.id}} "></span>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>