<ion-view view-title="Chương trình yêu thích">
	<ion-content>
		<div class="programes" >
            <div class=" list pro-list">
                <div  ng-repeat="programe in programes" class="item pro">
                    <span class="time ">
                        {{programe.time}}
                    </span>
                    <span class="name">{{programe.name}}</span>
                    <span class="part">{{programe.part}}</span>
                    <br/><span class="part">{{programe.chanelName}}</span>
                    <span class ="programe-like item-cancel" ng-class="{true:'active' , false:'none' }[programe.isfav==true]" ng-click="likepress(programe)" id="like-btn-{{programe.id}} "></span>
                </div>
            </div>
        </div>
	</ion-content>
</ion-view>