<ion-view view-title="Kênh yêu thích">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="label in labels">
        <a class="link-name"  ng-click="go(label)"" ><span >{{label.channel}}</span></a>
        <span class=" map-btn ion-ios-book-outline iconLabel" ng-if="label.label != '' "> {{label.label}}</span>
        <span class="programe-like item-cancel" ng-click="deleteLabel(label)" ></span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
