<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button class="button-icon button-clear ion-ios7-arrow-left">Back
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <a menu-close  class="item item-icon-left" href="#/app/playlist">
            <i class="icon ion-monitor"></i>
            Truyền hình VTV Cab
        </a>
        <a menu-close class="item item-icon-left" href="#/app/fchanel">
            <i class="icon ion-ios-film"></i>
            Kênh truyền hình yêu thích
        </a>
        <a menu-close class="item item-icon-left" href="#/app/alarm">
            <i class="icon ion-star"></i>
            Chương trình yêu thích
        </a>
        <a  menu-close class="item item-icon-left" href="#/app/chanelmapping">
            <i class="icon ion-ios-paper"></i>
            Sổ tay
        </a>

      </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
