<ion-view view-title="Kênh truyền hình">
  <ion-content>
    <ion-refresher pulling-text="Pull To Refresh" on-refresh="doRefresh()"
            refreshing-text="Fetching ..." refreshing-icon="ion-loading-b">
        </ion-refresher>
        <h4 ng-if="err != '' " class="sms-text">{{err}}</h4>
        <ul ng-if="err == ''" >
            <li ng-repeat = "chanel in channels " class="channel-item" >
            <!-- ng-href="#/app/programe/{{chanel.value}}&{{chanel.channel}}" -->
                <a class="link-name"  ng-click="go(chanel)" >
                    {{chanel.channel}}
                </a>
                <span class=" programe-like " ng-class="{true:'active',false:''}[chanel.isFav == true]" ng-click="likepress(chanel)" id="channel-like-{{chanel.value}}"> </span>
                <span class=" map-btn ion-ios-book-outline iconLabel" ng-click="showPopup(chanel)"> {{chanel.label}}</span>
            <li>
        </ul>
  </ion-content>
</ion-view>
