/* Empty. Add your own CSS if you like */
.button{
    z-index: 3;
}
.item {
    position: relative;
}

.icon {
    width: 100px;
    height: auto;
    position: absolute;
    top: 5px;
    right: 10px;
}

.load-content {
    width: 100%;
    height: 0px;
    display: block;
    overflow: hidden;
}

.pro-list {
    width: 100%;
    height: auto;
}

.pro {
    white-space: normal;
    padding-right: 30px;
}

.time {
    font-size: 13px;
    border-right: 1px solid gray;
}

.name {
    font-weight: 500;
    padding-left: 3px;
}

.part {
    font-size: 13px;
}

.programe-like {
    background-image: url('../img/star.png');
    width: 20px;
    height: 20px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    position: absolute;
    top: 16px;
    right: 15px;
}

.programe-like.active {
    background-image: url('../img/staractive.png');
}

.sms-text {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px;
    color: gray;
}

.date-des {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 13px;
    color: gray;
}
.date-pick{
    width: 50%;
    height: 30px;
    margin: 0px auto 10px auto;
    background-color: rgba(158, 158, 158, 0.18);
    border-radius: 5px;
    display: block;
    text-align: center;
    line-height: 30px;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    font-weight: 500;
    color: gray;
}
.item-cancel{
    background-image: url('../img/clear.png') !important;
}
.channel-item{
    width: 100%;
    padding: 13px 10px;
    height: auto;
    position: relative;
    border-bottom: 1px solid #eee;
}
.link-name{
    width: 100%;
    height: auto;
    min-height: 25px;
    color: black;
    text-decoration: none;
    display: block;

}
.map-btn{
    position: absolute;
    right: 45px;
    top: 16px;
}
.labelNumber{
    position: absolute;
    right: 40px;
    top: 16px;
}